@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 248, 250, 252;
  --background-end-rgb: 255, 255, 255;
}

body {
  @apply bg-slate-50 text-slate-900;
  font-feature-settings: 'palt' 1;
  letter-spacing: 0.01em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

